:root {
	--primary-text-color: #212121;
	--logo-color-text: #000000;
	--secondery-text-color: #757575;
	--white-text-color: #ffffff;
	--accent-color: #2196f3;
	--button-color-accent: #188ce8;
	--button-color: #ffffff;
	--contact-color: rgba(255, 255, 255, 0.6);
	--hero-color-bg: #2f303a;
	--page-bg-color: #ffffff;
	--team-bg-color: #f5f4fa;
	--footer-bg-color: #2f303a;
	--border-color: #eeeeee;
	--button-filter-bg-color: #f5f4fa;
	--logo-accent-color-tomato: #00f8d0;
	--heder-line-color: #ececec;
}
body {
	background-color: var(--page-bg-color);
	color: var(--primary-text-color);
	font-family: "Roboto", sans-serif;
}
.list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.link {
	text-decoration: none;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
	height: 1px;
}
h1,
h2,
h3,
p,
ul {
	margin: 0;
	padding: 0;
}
/* --------------------------ЛОГО-------------------------- */
.container {
	/* outline: 2px solid tomato; */
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1230px;
}

.logo-header {
	color: var(--logo-color-text);
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.logo-footer {
	color: var(--white-text-color);
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	margin-bottom: 20px;
	display: inline-block;
}
.logo-colorized {
	color: var(--accent-color);
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.logo-header:hover .logo-colorized,
.logo-header:focus .logo-colorized,
.logo-footer:hover .logo-colorized,
.logo-footer:focus .logo-colorized {
	color: var(--logo-accent-color-tomato);
}
.logo-header:hover,
.logo-header:focus,
.logo-footer:hover,
.logo-footer:focus {
	color: var(--logo-accent-color-tomato);
}
/* --------------------------Стили навигации-------------------------- */
.heder-nav-list {
	margin: 0 0;
}
.page-heder {
	border: 1px solid #ececec;
}
.heder-nav-link {
	color: var(--primary-text-color);
	font-size: 14px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.heder-auth-nav {
	margin-top: 0;
	margin-bottom: 0;
}
.heder-auth-link {
	color: var(--secondery-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.heder-nav-link:hover,
.heder-auth-link:hover,
.heder-nav-link:focus,
.heder-auth-link:focus {
	color: var(--accent-color);
}
.curent {
	color: var(--accent-color);
}
/* --------------------------Главная область-------------------------- */
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
/* --------------------------ГЕРОЙ-------------------------- */
.section-hero {
	background-color: var(--hero-color-bg);
	text-align: center;
}
.section-hero-title {
	color: var(--white-text-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.section-hero-button {
	color: var(--button-color);
	background-color: var(--accent-color);
	cursor: pointer;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	align-items: center;
	letter-spacing: 0.06em;
	font-family: inherit;
	padding: 10px 32px 10px 32px;
}
.section-hero-button:hover,
.section-hero-button:focus {
	background-color: var(--button-color-accent);
	font-family: inherit;
}
/* --------------------------НАШИ ПРИЕМУЩЕСТВА-------------------------- */
.feature-list-title {
	color: var(--primary-text-color);
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	margin-bottom: 10px;
}
.feature-list-text {
	color: var(--secondery-text-color);
	font-size: 14px;
	line-height: 1.71;
}
/* --------------------------Чем мы занимаемся-------------------------- */
.section-practice {
	padding-bottom: 94px;
}
.section-practice-title {
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}
/* --------------------------TEAM-------------------------- */
.section-team {
	background-color: var(--team-bg-color);
}
.section-team-title {
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}
.team-list-item {
	background-color: var(--page-bg-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-list-img {
	margin-bottom: 30px;
}
.team-list-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 10px;
}
.team-list-text {
	color: var(--secondery-text-color);
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 0;
	padding-bottom: 30px;
}
/* --------------------------FOOTER-------------------------- */
.footer {
	background-color: var(--footer-bg-color);
	padding-top: 60px;
	padding-bottom: 60px;
}
.address-text {
	color: var(--white-text-color);
	font-size: 14px;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: 0.03em;
	margin-bottom: 9px;
}
.address-text:hover,
.address-text:focus {
	color: var(--accent-color);
}
.footer-contact-list {
	margin-top: 9px;
}
.footer-contact-item {
	color: var(--contact-color);
	font-size: 14px;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
.footer-contact-item:hover,
.footer-contact-item:focus {
	color: var(--accent-color);
}
/* --------------------------Страница Портфолио-------------------------- */
.section-portfolio {
	background-color: var(--page-bg-color);
}
/* --------------------------ФИЛЬТР-------------------------- */
.button-list {
	color: var(--primary-text-color);
	background-color: var(--button-filter-bg-color);
	cursor: pointer;
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	font-family: inherit;
	letter-spacing: 0.03em;
	padding: 6px 22px;
}
.button-list:hover,
.button-list:focus {
	color: var(--button-color);
	background-color: var(--accent-color);
	font-family: inherit;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-curent {
	color: var(--button-color);
	background-color: var(--accent-color);
}
.section-portfolio-filter {
	margin-bottom: 34px;
}
/* --------------------------ПОРТФОЛИО-------------------------- */
.portfolio-list-item {
	box-sizing: border-box;
	background-color: var(--page-bg-color);
	display: inline-block;
}
.portfolio-list-img {
	margin-bottom: 20px;
}
.portfolio-list-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin-bottom: 4px;
}
.portfolio-list-text {
	font-size: 16px;
	line-height: 1.88;
	color: var(--secondery-text-color);
	letter-spacing: 0.03em;
	margin-bottom: 20px;
}
